## 发布程序时，由 .env.example 文件和本文件合并生成 .env 文件

## .env.example 文件中已有的选项会被强制更改
# APP_NAME=KEY(.publish.config.{configName})
# APP_ENV=production
# APP_DEBUG=false
# APP_URL=APP_URL(.publish.config.{configName})
# LOG_CHANNEL=daily
# DB_CONNECTION=mysql
# DB_HOST=mysql
# DB_PORT=3306
# DB_DATABASE=app
# DB_USERNAME=root
# DB_PASSWORD=MYSQL_ROOT_PASSWORD(.publish.config.{configName})

## .env.example 文件中没有的选项，写在本文件中，发布时自动追加到 .env 文件
