## 复制配置文件内容覆盖本文件，并建议修改以下值：
# APP_ENV=production
# APP_DEBUG=false
# LOG_CHANNEL=daily
# DB_HOST=mysql
# CACHE_DRIVER=redis
# QUEUE_CONNECTION=redis
# REDIS_HOST=redis

## 部署程序会自动修改以下值（源自.publish.config.{configName}）：
# APP_NAME=KEY
# DB_PASSWORD=MYSQL_ROOT_PASSWORD